@import "tailwindcss";
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* Custom Range Slider Styling */
input[type=range] {
  -webkit-appearance: none; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}
